@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme('colors.slate.800');
  --background: theme('colors.slate.100');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme('colors.slate.100');
    --background: theme('colors.slate.800');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 0.85rem;
}

@layer components {
  .table th,
  .table td {
    @apply bg-slate-300 dark:bg-slate-700 border border-slate-400 dark:border-slate-800 p-4 pl-8 text-left;
  }
}
